html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; 
}


.App {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between; 
}


.flexbox {
    display: grid;
    grid-template-areas:
        "hero main"
        "sidebar extra"
        "related related";
    grid-template-columns: 1fr 2fr;
    gap: 5px;
    flex: 1;
    height: calc(100% - 120px);
}


.flex-top-left {
    display: grid;
    grid-area: hero;
    grid-template-rows: 1.1fr 2fr;
    gap: 10px;
    padding-top: 10px;
    padding-right: 5px;
    height: calc(88vh - 120px);
}

.flex-top-right {
    display: grid;
    grid-area: main;
    grid-template-rows: 2fr 1fr;
    gap: 10px;
    padding-top: 10px;
}


.flexbox-content-1 {
    background: #d7c9e3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}


.flexbox-content-2 {
    background: #8bc34a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.flexbox-content-3 {
    background: #f5c632;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.flexbox-content-4 {
    background: #898989;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* Related section */
.flexbox-content-5 {
    display: flex;
    grid-area: related;
    justify-content: space-between;
}

.related-images {
    flex: 2;
    background: #2bb673;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.related-posts {
    flex: 1;
    background: #f3ccde;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Header */
.header {
    height: 60px;
    background-color: #54d4eb;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 100%;
}

/* Footer */
.footer {
    height: 60px;
    background-color: #ffa500;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 100%;
}
